body {
  font-family: serif;
  color: #000000;
  background-color: #FFFFFF;
}

.page-header {
  text-align: center;
  font-size: 60pt;
}

form {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 90px;
}

form h2 {
  margin-bottom: 15px;
}

#username-input {
  font-size: 18pt;
  color: #000000;
}

.btn-success {
  margin-top: 50px;
  font-size: 18pt;
}

#account-info h1 {
  font-size: 35pt;
  margin-top: 75px;
  text-align: center;
}

#account-info #show-url {
  text-align: center;
  font-size: 15pt;
  margin-bottom: 25px;
}

#account-info #repo-number {
  text-align: center;
  font-size: 22pt;
  margin-top: 40px;
  margin-bottom: 20px;
}

#repo-number, #following-header {
  display: none;
}

#following-header {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

#show-repo-list {
  font-size: 18pt;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 150px;
}
